477Bluetooth/.vscode/extensions.json
477Bluetooth/.vscode/settings.json
heating_protoype/.vscode/extensions.json
Grp16Code/.gitignore
477Bluetooth/.gitignore
heating_protoype/.gitignore
477Bluetooth/include/README
heating_protoype/test/README
heating_protoype/lib/README
heating_protoype/include/README
477Bluetooth/test/README
477Bluetooth/lib/README
IOemulator/debug.txt
IOemulator/emulator
IOemulator/obj/*.o
